<div class='twd-roll roll-stat {{ifThen item "roll-item" ""}}'>
    <h3>
        {{#if item}}<img src='{{item.img}}' alt='{{item.name}}' />{{/if}}
        <span>{{label}}</span>
    </h3>

    {{#if pushed}}
        <h4>{{loc 'rolls.pushed'}}</h4>

        <div class='twd-roll-dice'>
            {{#each pushResults.base as |d|}}
                <span class='twd-dice twd-dice-base twd-dice-base-{{d}}'></span>
            {{/each}}
            {{#each pushResults.stress as |d|}}
                <span class='twd-dice twd-dice-stress twd-dice-stress-{{d}}'></span>
            {{/each}}
        </div>
    {{else}}
        <div class='twd-roll-dice'>
            {{#each results.base as |d|}}
                <span class='twd-dice twd-dice-base twd-dice-base-{{d}}'></span>
            {{/each}}
            {{#each results.stress as |d|}}
                <span class='twd-dice twd-dice-stress twd-dice-stress-{{d}}'></span>
            {{/each}}
        </div>
    {{/if}}

    {{#if item}}
        <div class='twd-roll-item' data-item='{{item.data}}'></div>
    {{/if}}

    {{#if fail}}
        <div class='twd-roll-result twd-roll-fail'>{{loc 'rolls.fail'}}</div>
    {{/if}}

    {{#if success}}
        <div class='twd-roll-result twd-roll-success'>{{successes}}
            {{localize successLabel}}</div>

        {{#if item}}
            {{#if item.system.damage}}
                <div class='twd-roll-damage'>{{loc 'damage'}}: {{item.system.damage}}</div>
            {{/if}}
        {{/if}}
    {{/if}}

    {{#if messedUp}}
        <div class='twd-roll-result twd-roll-mess'>{{localize
                'THEWALKINGDEAD.rolls.messed_up'
            }}</div>
    {{/if}}

    {{#if canPush}}
        <button class='twd-roll-push'>{{loc 'rolls.push'}}</button>
    {{/if}}
</div>