<div class='twd-fields'>
    <div class='twd-fields-group'>
        <div class='twd-field'>
            <label for='anchor-pc'>{{loc 'character.pc_anchor'}}:</label>
            <input id='anchor-pc' name='system.anchors.pc' value='{{system.anchors.pc}}' />
        </div>

        <div class='twd-field'>
            <label for='anchor-npc'>{{loc 'character.npc_anchor'}}:</label>
            <input id='anchor-npc' name='system.anchors.npc' value='{{system.anchors.npc}}' />
        </div>
    </div>

    <div class='twd-fields-group'>
        <div class='twd-field long'>
            <label>{{loc 'issues'}}:</label>
            {{editor
                content=system.issues
                target='system.issues'
                rollData=rollData
                button=true
                owner=owner
                editable=editable
            }}
        </div>

        <div class='twd-field long'>
            <label>{{loc 'description'}}:</label>
            {{editor
                content=system.description
                target='system.description'
                rollData=rollData
                button=true
                owner=owner
                editable=editable
            }}
        </div>
    </div>

    <div class='twd-field long'>
        <label>{{loc 'notes'}}:</label>
        {{editor
            content=system.notes
            target='system.notes'
            rollData=rollData
            button=true
            owner=owner
            editable=editable
        }}
    </div>
</div>