<form class='{{cssClass}} {{actor.type}} flexcol' autocomplete='off'>
    <header class='sheet-header character'>
        <img
            class='profile-img'
            src='{{actor.img}}'
            data-edit='img'
            title='{{actor.name}}'
            height='100'
            width='100'
        />
        <div class='sheet-fields'>
            <div class='sheet-field'>
                <label for='name'>{{loc 'name'}}:</label>
                <input id='name' name='name' type='text' value='{{actor.name}}' />
            </div>
            <div class='sheet-fields-group'>
                <div class='sheet-field'>
                    <label for='archetype'>{{loc 'character.archetype'}}:</label>
                    <input
                        id='archetype'
                        type='text'
                        name='data.archetype'
                        value='{{data.archetype}}'
                    />
                </div>

                <div class='sheet-field'>
                    <label for='experience'>{{loc 'character.experience'}}:</label>
                    <div class='char-box-track'>
                        {{#with data.experience as |exp|}}
                            {{#each (range 1 10) as |n|}}
                                <div
                                    class='char-box {{if (gte exp.current n) "active"}}'
                                    data-value='{{n}}'
                                    data-key='data.experience.current'
                                ></div>
                            {{/each}}
                        {{/with}}
                    </div>
                </div>
            </div>
            <div class='sheet-field'>
                <label for='drive'>{{loc 'character.drive'}}:</label>
                <input
                    type='text'
                    id='drive'
                    name='data.drive.value'
                    value='{{data.drive.value}}'
                />
                <div class='drive-check char-box {{if data.drive.used "active"}}'></div>
            </div>
        </div>
    </header>

    <nav class='sheet-tabs tabs' data-group='primary'>
        <a class='item' data-tab='stats'>{{loc 'stats'}}</a>
        <a class='item' data-tab='talents'>{{loc 'talents.tab'}}</a>
        <a class='item' data-tab='items'>{{loc 'equipment.tab'}}</a>
        <a class='item' data-tab='bio'>{{loc 'bio'}}</a>
    </nav>

    <section class='sheet-body'>
        <div class='tab stats' data-group='primary' data-tab='stats'>
            {{> "systems/thewalkingdead/templates/actor/parts/actor-stats.hbs"}}
        </div>

        <div class='tab bio' data-group='primary' data-tab='bio'>
            {{> "systems/thewalkingdead/templates/actor/parts/actor-bio.hbs"}}
        </div>

        <div class='tab items' data-group='primary' data-tab='items'>
            {{> "systems/thewalkingdead/templates/actor/parts/actor-items.hbs"}}
        </div>

        <div class='tab talents' data-group='primary' data-tab='talents'>
            {{> "systems/thewalkingdead/templates/actor/parts/actor-talents.hbs"}}
        </div>
    </section>
</form>