<form class='{{cssClass}}' autocomplete='off'>
    <header>
        <img src='{{item.img}}' data-edit='img' title='{{item.name}}' />
        <h1>
            <input name='name' type='text' value='{{item.name}}' placeholder='{{loc "name"}}' />
        </h1>
    </header>
    <section>
        <div class='twd-fields'>
            <div class='twd-field weapon-field'>
                <label>{{loc 'equipment.bonus'}}</label>
                <select data-dtype='Number' name='system.bonus'>
                    <option value='0' {{isSelected (eq system.bonus 0)}}>-</option>
                    <option value='1' {{isSelected (eq system.bonus 1)}}>1</option>
                    <option value='2' {{isSelected (eq system.bonus 2)}}>2</option>
                    <option value='3' {{isSelected (eq system.bonus 3)}}>3</option>
                    <option value='4' {{isSelected (eq system.bonus 4)}}>4</option>
                    <option value='5' {{isSelected (eq system.bonus 5)}}>5</option>
                </select>
            </div>

            <div class='twd-fields-group'>
                <div class='twd-field weapon-field'>
                    <label>{{loc 'equipment.explosive'}}</label>
                    <input
                        type='checkbox'
                        data-dtype='Boolean'
                        name='system.explosive'
                        {{checked system.explosive}}
                    />
                </div>

                {{#if system.explosive}}
                    <div class='twd-field weapon-field'>
                        <label>{{loc 'equipment.blast_power'}}</label>
                        <select data-dtype='Number' name='system.bp'>
                            <option value='0' {{isSelected (eq system.bp 0)}}>-</option>
                            <option value='1' {{isSelected (eq system.bp 1)}}>1</option>
                            <option value='2' {{isSelected (eq system.bp 2)}}>2</option>
                            <option value='3' {{isSelected (eq system.bp 3)}}>3</option>
                            <option value='4' {{isSelected (eq system.bp 4)}}>4</option>
                            <option value='5' {{isSelected (eq system.bp 5)}}>5</option>
                            <option value='6' {{isSelected (eq system.bp 6)}}>6</option>
                            <option value='7' {{isSelected (eq system.bp 7)}}>7</option>
                            <option value='8' {{isSelected (eq system.bp 8)}}>8</option>
                            <option value='9' {{isSelected (eq system.bp 9)}}>9</option>
                        </select>
                    </div>
                {{else}}
                    <div class='twd-field weapon-field'>
                        <label>{{loc 'equipment.damage'}}</label>
                        <select data-dtype='Number' name='system.damage'>
                            <option value='0' {{isSelected (eq system.damage 0)}}>-</option>
                            <option value='1' {{isSelected (eq system.damage 1)}}>1</option>
                            <option value='2' {{isSelected (eq system.damage 2)}}>2</option>
                            <option value='3' {{isSelected (eq system.damage 3)}}>3</option>
                            <option value='4' {{isSelected (eq system.damage 4)}}>4</option>
                            <option value='5' {{isSelected (eq system.damage 5)}}>5</option>
                        </select>
                    </div>
                {{/if}}
            </div>

            <div class='twd-fields-group'>
                <div class='twd-field weapon-field'>
                    <label>{{loc 'equipment.ranged'}}</label>
                    <input
                        type='checkbox'
                        data-dtype='Boolean'
                        name='system.ranged'
                        {{checked system.ranged}}
                    />
                </div>

                {{#if system.ranged}}
                    <div class='twd-field weapon-field'>
                        <label>{{loc 'equipment.range'}}</label>
                        <select name='system.range'>
                            <option value='short' {{isSelected (eq system.range 'short')}}>{{loc
                                    'equipment.ranges.short'
                                }}</option>
                            <option value='long' {{isSelected (eq system.range 'long')}}>{{loc
                                    'equipment.ranges.long'
                                }}</option>
                            <option value='extreme' {{isSelected (eq system.range 'extreme')}}>{{loc
                                    'equipment.ranges.extreme'
                                }}</option>
                        </select>
                    </div>
                {{else}}
                    <div class='twd-field weapon-field'>
                        <label>{{loc 'equipment.encumbrance'}}</label>
                        <select data-dtype='Number' name='system.encumbrance'>
                            <option value='0' {{isSelected (eq system.encumbrance 0)}}>-</option>
                            <option
                                value='0.5'
                                {{isSelected (eq system.encumbrance 0.5)}}
                            >1/2</option>
                            <option value='1' {{isSelected (eq system.encumbrance 1)}}>1</option>
                            <option value='2' {{isSelected (eq system.encumbrance 2)}}>2</option>
                        </select>
                    </div>
                {{/if}}
            </div>

            {{#if system.ranged}}
                <div class='twd-field weapon-field'>
                    <label>{{loc 'equipment.encumbrance'}}</label>
                    <select data-dtype='Number' name='system.encumbrance'>
                        <option value='0' {{isSelected (eq system.encumbrance 0)}}>-</option>
                        <option value='0.5' {{isSelected (eq system.encumbrance 0.5)}}>1/2</option>
                        <option value='1' {{isSelected (eq system.encumbrance 1)}}>1</option>
                        <option value='2' {{isSelected (eq system.encumbrance 2)}}>2</option>
                    </select>
                </div>
            {{/if}}

            <div class='twd-field weapon-field'>
                <label for='weapon-storage'>{{loc 'equipment.storage'}}</label>
                <input id='weapon-storage' name='system.storage' value='{{system.storage}}' />
            </div>

            <div class='twd-field long'>
                <label>{{loc 'description'}}</label>
                {{editor
                    content=system.description
                    target='system.description'
                    rollData=rollData
                    button=true
                    owner=owner
                    editable=editable
                }}
            </div>
        </div>
    </section>
</form>