<form class='{{cssClass}}' autocomplete='off'>
    <header>
        <img src='{{item.img}}' data-edit='img' title='{{item.name}}' />
        <h1>
            <input name='name' type='text' value='{{item.name}}' placeholder='{{loc "name"}}' />
        </h1>
    </header>
    <section>
        <div class='sheet-fields'>
            <div class='sheet-field'>
                <label for='prerequisite'>{{loc 'talents.prerequisite'}}:</label>
                <input
                    id='prerequisite'
                    type='text'
                    name='system.prerequisite'
                    value='{{system.prerequisite}}'
                />
            </div>

            <div class='sheet-field long'>
                <label>{{loc 'description'}}:</label>
                {{editor
                    content=system.description
                    target='system.description'
                    rollData=rollData
                    button=true
                    owner=owner
                    editable=editable
                }}
            </div>
        </div>
    </section>
</form>