<form class='{{cssClass}}' autocomplete='off'>
    <header>
        <img src='{{item.img}}' data-edit='img' title='{{item.name}}' />
        <h1>
            <input name='name' type='text' value='{{item.name}}' placeholder='{{loc "name"}}' />
        </h1>
    </header>
    <section>
        <div class='twd-fields'>
            <div class='twd-fields-group'>
                <div class='twd-field armor-field'>
                    <label>{{loc 'equipment.armor_penalty'}}</label>
                    <select data-dtype='Number' name='system.penalty'>
                        <option value='0' {{isSelected (eq system.penalty 0)}}>-</option>
                        <option value='-1' {{isSelected (eq system.penalty -1)}}>-1</option>
                        <option value='-2' {{isSelected (eq system.penalty -2)}}>-2</option>
                        <option value='-3' {{isSelected (eq system.penalty -3)}}>-3</option>
                        <option value='-4' {{isSelected (eq system.penalty -4)}}>-4</option>
                        <option value='-5' {{isSelected (eq system.penalty -5)}}>-5</option>
                    </select>
                </div>
                <div class='twd-field armor-field'>
                    <label>{{loc 'equipment.armor_level'}}</label>
                    <select data-dtype='Number' name='system.protection'>
                        <option value='0' {{isSelected (eq system.protection 0)}}>-</option>
                        <option value='1' {{isSelected (eq system.protection 1)}}>1</option>
                        <option value='2' {{isSelected (eq system.protection 2)}}>2</option>
                        <option value='3' {{isSelected (eq system.protection 3)}}>3</option>
                        <option value='4' {{isSelected (eq system.protection 4)}}>4</option>
                        <option value='5' {{isSelected (eq system.protection 5)}}>5</option>
                    </select>
                </div>
            </div>
            <div class='twd-field long'>
                <label>{{loc 'description'}}</label>
                {{editor
                    content=system.description
                    target='system.description'
                    rollData=rollData
                    button=true
                    owner=owner
                    editable=editable
                }}
            </div>
        </div>
    </section>
</form>